<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nfcPassportReader.jan.mrtd2">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="bondi.nfcPassportReader.jan.mrtd2.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
            </intent-filter>
        </activity>

        <activity
            android:name="bondi.nfcPassportReader.jan.mrtd2.ResultDisplayActivity"
            android:label="@string/title_activity_result_display"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="bondi.nfcPassportReader.jan.mrtd2.ResultDisplayActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="bondi.nfcPassportReader.jan.mrtd2.WaitingForNfcActivity"
            android:label="@string/title_activity_waiting_for_nfc"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="bondi.nfcPassportReader.jan.mrtd2.WaitingForNfcActivity" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.nfc.action.TAG_DISCOVERED" />
            </intent-filter>
        </activity>

        <activity
            android:name="bondi.nfcPassportReader.jan.mrtd2.ReadingPassportActivity"
            android:label="@string/title_activity_reading_passport"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="bondi.nfcPassportReader.jan.mrtd2.ReadingPassportActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
